.btn-insidejob {
  background-color: black;
  color: white;
  border: none;
  text-transform: uppercase;
  width: 150px; /* Fixed width for each item */
  height: 30px; /* Set a height for the octagonal shape */
  display: flex;
  align-items: center; /* Center items vertically */
  justify-content: center; /* Center items horizontally */
  border-radius: 0 !important;

  /* Clip-path for octagonal shape */
  clip-path: polygon(
    5% 0,
    95% 0,
    100% 20%,
    100% 80%,
    95% 100%,
    5% 100%,
    0% 80%,
    0% 20%
  );

  a {
    color: white;
    text-decoration: none;
  }

  /* Change background color on hover */
  &:hover {
    background-color: $secondary;
  }
}
