/* CUSTOM SCROLLBAR */

::-webkit-scrollbar {
  width: 2px;
}

// Track

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

// Handle
::-webkit-scrollbar-thumb {
  background: $secondary; // Use Bootstrap secondary color
  border-radius: 10px;
}

// Hover
::-webkit-scrollbar-thumb:hover {
  background: darken($secondary, 5%); // Darken the secondary color on hover
}
