@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";
@import "./scrollbar.scss";
@import "./listgroup.scss";
@import "./btn.scss";
@import "./accordion.scss";

html,
body {
  font-family: "Times New Roman", Times, serif;
}

a {
  color: $secondary;
  text-decoration: none;
  &:hover {
    color: black;
  }
}
