@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/variables";

$ijobdark: #353530;
$ijoblight: #ecedef;

html,
body {
  font-family: "Times New Roman", Times, serif;
  background-color: $ijoblight;
  color: $ijobdark !important;
}

a {
  color: black;
  text-decoration: none;
  &:hover {
    color: black;
  }
}

.bg-insidejob-light {
  background-color: $ijoblight;
}

@import "./scrollbar.scss";
@import "./listgroup.scss";
@import "./btn.scss";
@import "./accordion.scss";
@import "./offcanvas.scss";
@import "./navbar.scss";

.example-style {
  animation: fade-in 3s;
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
